[build-system]
requires = ["setuptools", "setuptools_scm>=8"]
build-backend = "setuptools.build_meta"

[project]
name = "{{ module_name }}"  # REQUIRED, is the only field that cannot be marked as dynamic.
dynamic = ["version"]
description = "{{ project_short_description }}"
readme = "README.md"
license-files = ["LICENSE"]

authors = [
  {name = "ISIS Experiment Controls", email = "ISISExperimentControls@stfc.ac.uk" }
]
maintainers = [
  {name = "ISIS Experiment Controls", email = "ISISExperimentControls@stfc.ac.uk" }
]

classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",

  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
]

dependencies = []

[project.optional-dependencies]
doc = [
  "sphinx",
  "sphinx_rtd_theme",
  "myst_parser",
  "sphinx-autobuild",
  "sphinx-codeautolink",
  "sphinxcontrib-mermaid",
  "sphinxcontrib-spelling",
]
lint = [
  "pyright==1.1.414",
  "ruff==0.16.9",
]
test = [
  "pytest",
  "pytest-asyncio",
  "pytest-cov",
]
dev = [
  "{{ module_name }}[doc,lint,test]",
]

[project.urls]
"Homepage" = "https://github.com/{{ github_org_name }}/{{ github_repo_name }}"
"Bug Reports" = "https://github.com/{{ github_org_name }}/{{ github_repo_name }}/issues"
"Source" = "https://github.com/{{ github_org_name }}/{{ github_repo_name }}"

[tool.pytest.ini_options]
testpaths = "tests"
asyncio_mode = "auto"
addopts = "--cov --cov-report=html -vv"

[tool.coverage.run]
branch = true
source = ["src"]
omit = [
  "version.py",  # Autogenerated
]

[tool.coverage.report]
fail_under = 100
exclude_lines = [
  "pragma: no cover",
  "if TYPE_CHECKING:",
  "if typing.TYPE_CHECKING:",
  "@abstractmethod",
]

[tool.coverage.html]
directory = "coverage_html_report"

[tool.pyright]
include = ["src", "tests"]
reportConstantRedefinition = true
reportDeprecated = true
reportInconsistentConstructor = true
reportMissingParameterType = true
reportMissingTypeArgument = true
reportUnnecessaryCast = true
reportUnnecessaryComparison = true
reportUnnecessaryContains = true
reportUnnecessaryIsInstance = true
reportUntypedBaseClass = true
reportUntypedClassDecorator = true
reportUntypedFunctionDecorator = true

[tool.setuptools_scm]
version_file = "src/{{ module_name }}/version.py"

[tool.build_sphinx]