a:hover {
    color: {{ doc_theme_colour }};
}

.wy-menu-vertical p.caption {
    color: {{ doc_theme_colour }};
}

.sphinx-codeautolink-a{
    border-bottom-color: {{ doc_theme_colour }};
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.sphinx-codeautolink-a:hover{
    color: #888888;
}